* {
  display: block;
  white-space: -oxy-trim-when-ws-only;
}
graph:before(10) {
  content: attr(description);
}
nodes:before(10) {
  border: 1px solid gray;
  content: attr(root);
  background-color: #DDDDDD;
  width: 33%;
  padding: 0.1em;
}
node,
nodes {
  margin-left: 2em;
}
node:before(10) {
  border: 1px solid gray;
  content: attr(name);
  width: 33%;
  padding: 0.1em;
  background-color: #DDDDDD;
}
nodes > node:before(10) {
  background-color: #AFA7F4;
}
nodes > node > node:before(10) {
  background-color: lightgreen;
}
nodes > node > node > node:before(10) {
  background-color: lightblue;
}
